.navigation-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0; /* Ensure it's aligned to the left */
  right: 0; /* Ensure it's aligned to the right */
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  z-index: 1000; /* Above other content */
}

.nav-placeholder {
  height: 60px; /* Set this to the height of your navigation bar */
  visibility: hidden; /* Hide the placeholder visually but let it take up space */
}
