.Sell_Large_Device_Container {
  padding: 1.75rem 10rem;
}
.sell_submit_button {
  color: #ffffff;
  background-color: #318ce7;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 0.55rem 1.5rem;
  transition: 0.5s;
  width: 100%;
}
