.home-profile-container {
  padding: 1rem 2rem;
}
.username_input {
  border: solid 1px #cccccc;
  border-radius: 20px;
  padding: 0.5rem 1.25rem;
  margin-right: 10px;
  margin-bottom: 5px;
}

.username_form {
  display: inline;
  gap: 5px;
}

.change-name-submit {
  background-color: transparent;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  height: 2.6rem;
  border: solid 1px #cccccc;
}

.change-name-submit:hover {
  opacity: 0.9;
}

.logout-button {
  background-color: transparent;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  border: solid 1px #cccccc;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.updated-new-name-success {
  width: 12rem;
  height: 3rem;
  border-radius: 15px;
  position: fixed;
  padding: 0.9rem 0.5rem 0rem 0.5rem;
  bottom: 0;
  display: flex;
  justify-content: center;
  right: 0;
  font-size: 13px;
  background-color: #1d1d1f;
  color: white;
  animation: fadeIn 0.3s;
}
