.buy_login_submit_button {
  color: #1d1d1f;
  background-color: transparent;
  border: solid 1px #1d1d1f;
  cursor: pointer;
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
  transition: 0.5s;
  margin-bottom: 0.25rem;
  width: 100%;
}
.buy_login_submit_button:hover {
  opacity: 0.8;
  transition: 0.5s;
}
.no_account_text {
  font-size: 12px;
}

.input-container h3 {
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}

.input-login-container {
  padding: 0.5rem 1rem;
  border: 1px solid #cccccc;
  border-radius: 20px;
}

.error {
  font-size: 10px;
  color: red;
}
