.blur {
  filter: blur(2px);
}

@media (min-width: 641px) {
  .cart-page-container {
    padding: 3rem 5rem 0rem 5rem;
    margin-top: 3rem;
  }
  .title-text {
    font-size: 1.25rem;
    font-weight: 500;
  }
}
@media (max-width: 640px) {
  .cart-page-container {
    margin-top: 4rem;
    padding: 1rem 3rem;
  }
}

.left-item-container img {
  width: 8rem;
  display: inline-block;
}
.text-left {
  display: inline-block;
}

.right-item-container {
  display: inline-block;
}

.conclusion-price-container {
  padding: 0.75rem;
}

.remove-icon {
  cursor: pointer;
}

.cart-checkout-button {
  padding: 5px 10px;
  color: #1d1d1f;
  border-radius: 10px;
  border: solid 1px #cccccc;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.cart-checkout-button:hover {
  opacity: 0.9;
}

.quantity-amount {
  padding-inline: 0.6rem;
  padding-top: 5px;
  padding-bottom: 5.5px;
  background-color: #f9f9f9;
}

.cart-page-product-image {
  border-radius: 10px;
  margin-right: 2rem;
}

.cart-page-space {
  height: 100vh;
}

/* .no-scroll {
  overflow: hidden;
} */
