.blur {
  filter: blur(2px);
}

@media (min-width: 641px) {
  .cart-page-container {
    padding: 3rem 5rem 0rem 5rem;
    margin-top: 3rem;
  }
}
@media (max-width: 640px) {
  .cart-page-container {
    margin-top: 5rem;
    padding: 1rem 3rem;
  }
}

.title-text {
  font-size: 1.25rem;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .cart-item-left-container {
    width: 50%;
  }
}

@media (max-width: 1024px) {
  .cart-item-left-container {
    display: flex;
  }
  .item-total-price-cart {
    font-weight: 500;
  }
}

.cart-page-product-image-large {
  width: 8rem;
  border-radius: 10px;
  margin: 0rem 2rem 0rem 0rem;
}

.cart-page-product-image-small {
  width: 100%;
  border-radius: 20px;
  margin: 0rem 2rem 0rem 0rem;
}

.text-left {
  display: inline-block;
}

.item-container {
  border: 1px solid #dddddd;
  border-radius: 20px;
}

.conclusion-price-container {
  padding: 0.75rem;
}

.remove-icon {
  cursor: pointer;
}

.cart-checkout-button {
  padding: 5px 10px;
  color: #1d1d1f;
  border-radius: 10px;
  border: solid 1px #cccccc;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.cart-checkout-button:hover {
  opacity: 0.9;
}

.quantity-amount {
  padding-inline: 0.6rem;
  padding-top: 5px;
  padding-bottom: 5.5px;
  background-color: #f9f9f9;
}

.cart-page-space {
  height: 100vh;
}

.no-scroll {
  overflow: hidden;
}

.arrow-font-size {
  font-size: 1.5rem;
}

.top-cart-page-container {
  margin-bottom: 5rem;
}
