.marketplace-page-container {
  padding: 4rem 4rem;
}

.each-card-container {
  display: flex;
  flex-direction: column;
}

.each-card-container img {
  width: 100%; /* Ensure images take full width of container */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the container while maintaining aspect ratio */
  border-radius: 0.5rem; /* Optional: Round the corners of images */
  margin-bottom: 2rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .each-card-container {
    flex-basis: 100%; /* Full width on smaller screens */
    max-width: 100%; /* Prevent overflow */
  }
}

.marketplace-buy-button {
  color: #1d1d1f;
  text-decoration: none;
  cursor: pointer;
}

.marketplace-buy-button:hover {
  opacity: 0.9;
}

.cart-checkout-button {
}
