.large-screen-profile-container {
  margin-top: 3rem;
  padding: 5rem 10rem;
}

.side-bar li {
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.side-bar {
  list-style: none;
  border-right: solid 1px #dddddd;
}
