.buy_signup_submit_button {
  color: #1d1d1f;
  background-color: transparent;
  border: solid 1px #1d1d1f;
  cursor: pointer;
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
  transition: 0.5s;
  margin-bottom: 0.25rem;
  width: 100%;
}

.buy_signup_page_container {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-inline: 1rem;
}

.buy_signup_container {
  border-radius: 1rem;
  padding: 1.8rem 2rem;
}

.error {
  font-size: 10px;
  color: red;
}

.input-signup-container {
  padding: 0.5rem 1rem;
  border: 1px solid #cccccc;
  border-radius: 20px;
}
