.about-us-large-container {
  margin-top: 4rem;
  overflow-x: hidden;
}

.header-container {
  padding-left: 2rem;
  padding-top: 1rem;
}

.aboutus-header {
  font-size: 3rem;
}

.subtopic-header {
  margin-top: 10rem;
}

.subtopic-text {
  font-size: 1.9rem;
  margin-left: 10rem;
  margin-right: 2rem;
}

.traditee-text {
  font-size: 2.25rem;
  font-weight: 500;
}

.hook-container {
  margin-top: 5rem;
  margin-bottom: 11rem;
}

.circle {
  width: 17.5rem;
  height: 17.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  border: solid 2px #1d1d1f;
  transition: background-color 1s ease, transform 1s ease;
}

.circle-together {
  font-size: 0rem;
  font-size: 2rem;
  background-color: #1d1d1f;
  color: white;
}

.hook-container-right {
  display: flex;
  justify-content: center;
}

.two-circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction-container {
  padding-bottom: 5rem;
  color: white;
  background-color: #1d1d1f;
}

.header-introduction-container {
  transform: translateY(0);
}

.header-introduction-container {
  font-size: 2.5rem;
  padding: 4rem 4rem;
  opacity: 0;
  transform: translateY(20px);
  animation: none;
}

.animate-from-bottom {
  opacity: 1;
  transform: translateY(0);
  animation: slideUp 1s ease forwards;
}

.aboutus-introduction-body {
  padding-inline: 4rem;
}

.aboutus-introduction-paragraph {
  transform: translateY(0);
}

.fade-in-scroll {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-in-active {
  opacity: 1;
  transform: translateY(0);
}
